<h1>{{name}}</h1>

<dl>
  <td>Nombre: </td>
  <dd>{{name}}</dd>

  <td>Edad: </td>
  <dd>{{age}}</dd>

  <td>Método: </td>
  <dd> {{getHeroDescripcion()}}</dd>

  <td>Capitalizado: </td>
  <dd>{{capitalizedName}}</dd>
</dl>

<button class="btn btn-primary mx-2" (click)="changeHero()" *ngIf="name !== 'Spiderman'">
  Cambiar Nombre
</button>
<button class="btn btn-primary" (click)="changeAge()" *ngIf="age !== 30">
  Cambiar Edad
</button>

<!-- Se debe tener cuidado al usar codigo propiamente de javascript ya que de esta manera el ciclo de deteccion
    de cambios no funcionara con ese codigo, se debe usar el codigo dentro de las clases usando las propiedades
    mediante los metodos de las clases
-->
<button class="btn btn-primary mx-2" (click)="resetForm()">
  Reset
</button>
